body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}
table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}
th,
td {
  text-align: left;
  padding: 12px;
}
th {
  background-color: #000080;
  color: white;
  font-size: 18px;
}
tr:nth-child(even) {
  background-color: #e08283;
}
tr:nth-child(odd) {
  background-color: #f2f2f2;
}
